<FilesMatch "(?<!index\.php)$">
    Header always set Access-Control-Allow-Headers "Range"
    Header always set Access-Control-Allow-Origin "*"
    Header always set Content-Type "application/octet-stream"
    ErrorDocument 404 " "
</FilesMatch>
