* {margin:0; padding:0;}
html, body {height:100%; width:100%; overflow: hidden;}

body {
    background-color: rgba(224,224,224, 0.5);
}

button {
    height: 2rem;
    min-height: 2rem;
    max-height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    font-family: monospace;
    font-size: 1rem;
}

.appear {
    opacity: 0;
    -webkit-animation-name: appear-anim;
    -webkit-animation-duration: 1s;
    animation-name: appear-anim;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes appear-anim {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes appear-anim {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.disappear {
    opacity: 1;
    -webkit-animation-name: disappear-anim;
    -webkit-animation-duration: 0.5s;
    animation-name: disappear-anim;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes disappear-anim {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes disappear-anim {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

#cg-header {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.4), -1px -1px 1px rgba(0,0,0,0.4);
}

#cg-body {
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;

    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cg-body-texture {
    width: 100%;
    height: 100%;
}

#cg-body-shade {
    width: 100%;
    height: 100%;
    text-align: center;
}

#cg-footer {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    overflow: hidden;
}

#cg {
    background: -webkit-repeating-linear-gradient(-45deg, rgba(0,0,0,0), rgba(0,0,0,0.1) 5%, rgba(0,0,0,0) 10%);
    background: -o-repeating-linear-gradient(-45deg, rgba(0,0,0,0), rgba(0,0,0,0.1) 5%, rgba(0,0,0,0) 10%);
    background: -moz-repeating-linear-gradient(-45deg, rgba(0,0,0,0), rgba(0,0,0,0.1) 5%, rgba(0,0,0,0) 10%);
    background: repeating-linear-gradient(-45deg, rgba(0,0,0,0), rgba(0,0,0,0.1) 5%, rgba(0,0,0,0) 10%);
    font-family: monospace;
    font-size: 1rem;
}

#cg-body {
    background: rgb(240, 240, 240);
    border-radius: 0.75rem;
    border-style: inset;
    border-color: rgba(240, 240, 240, 0.33);
    border-width: medium 0rem;
}

#cg-body-texture {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);
}

#cg-body-shade {
    background: -webkit-radial-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.66), rgba(255,255,255,0.33));
    background: -o-radial-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.66), rgba(255,255,255,0.33));
    background: -moz-radial-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.66), rgba(255,255,255,0.33));
    background: radial-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.66), rgba(255,255,255,0.33));
}

#cg-main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.64rem;
}

#cg-version {
    display: inline;
    width: 0ch;
    opacity: 0;
    font-size: 0.5rem;
    color: rgba(0,0,0,0.5);
    overflow: hidden;
    -webkit-transition: width 1s;
    transition: width 1s;
}

.cg-borderbox {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cg-tab {
    width: 100%;
    height: 100%;
    overflow: auto; /* In Chrome this is buggy. The scrollbar gets reset on content changes. */
    padding: 0.5rem;
}

.cg-read-tab {
    overflow-y:scroll;
}

.cg-read-tab-premature,
.cg-write-tab,
.cg-about-tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cg-inactive-tab {
    display: none;
}

.cg-write-tab{
    overflow: auto;
    align-items: stretch;
    padding: 0.25rem;
}

.cg-tools-tab {
    overflow: auto;
    padding: 0.25rem;
}

.cg-write-main {
    min-height: 18rem; /* should be same as .cg-write-side's min-height */
    flex: 1.0;
    margin: 0.25rem;
    height: calc(100% - 1rem);
    overflow: hidden;
}

.cg-write-info {
    height: 9rem;
    width: 100%;

    border: medium outset rgba(230,230,230, 0.80);
    border-radius: 1.0rem;
    padding: 0.5rem;
    margin-bottom: 0.25rem;
    background-color: rgba(240,240,240, 0.80);
    overflow: hidden;
}

.cg-tools-info {
    display: inline-block;
    vertical-align: top;
    height: 14rem;
    width: calc(100% - 15rem);

    border: medium outset rgba(230,230,230, 0.80);
    border-radius: 1.0rem;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: rgba(240,240,240, 0.80);
    overflow: hidden;
}

#cg-tools-p-tool-desc {
    font-size: 0.9rem;
    text-align: left;
    height: calc(100% - 3rem);
    overflow: auto;

    border: medium inset rgba(212,212,212, 0.25);
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: rgba(224,224,224, 0.5);
    background: -webkit-linear-gradient(rgba(0,0,0,0.0625), rgba(255,255,255,0.03125), rgba(0,0,0,0.0625));
    background: -o-linear-gradient(rgba(0,0,0,0.0625), rgba(255,255,255,0.03125), rgba(0,0,0,0.0625));
    background: -moz-linear-gradient(rgba(0,0,0,0.0625), rgba(255,255,255,0.03125), rgba(0,0,0,0.0625));
    background: linear-gradient(rgba(0,0,0,0.0625), rgba(255,255,255,0.03125), rgba(0,0,0,0.0625));
}

#cg-write-infotable {
    width: 100%;
    max-width: 30rem;
    margin: auto;
    border-spacing: 0;
}

#cg-write-infotable td:nth-child(1) {
    text-align: left;
}

#cg-write-infotable td:nth-child(2) {
    text-align: right;
}

#cg-tools-span-tool-name {
    text-transform: capitalize;
}

.cg-read-filetable {
    width: 100%;
    max-width: 30rem;
    margin: auto;
    border-spacing: 0;
}

.cg-read-filetable td:nth-child(1) {
    text-align: left;
}

.cg-read-filetable td:nth-child(2) {
    text-align: right;
}

#cg-write-msg-payment {
    font-size: 0.5rem;
}

#cg-write-core {
    height: calc(100% - 9.25rem);
}

#cg-tools-core {
    width: 100%;
    height: calc(100% - 14.75rem);
}

.cg-write-text {
    width: 100%;
    height: 100%;
    resize: none;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    padding: 1ch;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255, 0.75);
    font-size: 1rem;
}

.cg-write-text:focus {
    outline: none;
}

#cg-write-paymentarea, #cg-write-previewarea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cg-write-paymenttable {
    width: 100%;
    max-width: 30rem;
    margin: auto;
    border-spacing: 0;
}

#cg-write-paymenttable td:nth-child(1) {
    text-align: left;
    min-width: 12ch;
}

.cg-write-side {
    display: flex;
    flex-direction: column;
    min-height: 18rem;
    flex: 99.0;
    max-width: 20rem;

    border: medium outset rgba(230,230,230, 0.80);
    border-radius: 1.0rem;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: rgba(240,240,240, 1.0);
    overflow: hidden;
}

.cg-tools-list {
    display: inline-block;
    vertical-align: top;
    width: 14rem;
    height: 8.0rem;

    border: medium outset rgba(230,230,230, 0.80);
    border-radius: 1.0rem;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: rgba(240,240,240, 1.0);
}

#cg-tools-proof-of-existence {
    width: 100%;
    height: 100%;
}

#cg-tools-poe-file-selection {
    width: 100%;
    height: 100%;
}

#cg-tools-poe-file-list {
    display: none;
    width: 100%;
    height: 100%;
}

#cg-tools-poe-drop-zone {
    display: table;
    width:  calc(100% - 0.5rem);
    height: calc(100% - 3rem);
    border: medium dashed gray;
    border-radius: 1.0rem;
}

#cg-tools-poe-drop-zone:hover {
    cursor: pointer;
}

.cg-tools-poe-footer-table {
    display: table;
    width:  100%;
    table-layout: fixed;
}

.cg-tools-poe-footer-cell {
    display: table-cell;
    text-align: left;
}

.cg-tools-poe-footer-table .cg-tools-poe-footer-cell:nth-child(2) {
    text-align: right;
}

#cg-tools-poe-browse-btn {
    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
    width: 100%;
}

#cg-tools-poe-browse-div {
    position: relative;
    height: 3rem;
    overflow: visible;
}

#cg-tools-poe-file-table {
    width:  calc(100% - 0.5rem);
    height: calc(100% - 3rem);
    overflow: auto;
}

#cg-tools-poe-file-table table {
    width: 100%;
    table-layout: fixed;
}

#cg-tools-poe-file-table tr {
    vertical-align: top;
}

#cg-tools-poe-file-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

#cg-tools-poe-file-table td:nth-child(2) {
    text-align: right;
    width: 12ch;
}

#cg-tools-poe-file-table td:nth-child(3) {
    max-width: 40ch;
    text-align: center;
}

@media not all and (min-width: 40rem) {
    .cg-write-side{min-width: 100%; height: 22rem;}
    .cg-write-main{min-width: 100%; height: calc(100% - 23rem);}
    .cg-tools-info{width:  calc(100% - 0.5rem);}
    .cg-tools-list{width:  calc(100% - 0.5rem);}
    #cg-tools-core{height: calc(100% - 24.25rem);}
}

.cg-write-addr {
    font-size: 0.75rem;
    width: 100%;
    flex: 1.0;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre;
    font-family: monospace;

    border: medium inset rgba(212,212,212, 0.25);
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: rgba(224,224,224, 0.5);
    background: -webkit-linear-gradient(rgba(0,0,0,0.0625), rgba(255,255,255,0.03125), rgba(0,0,0,0.0625));
    background: -o-linear-gradient(rgba(0,0,0,0.0625), rgba(255,255,255,0.03125), rgba(0,0,0,0.0625));
    background: -moz-linear-gradient(rgba(0,0,0,0.0625), rgba(255,255,255,0.03125), rgba(0,0,0,0.0625));
    background: linear-gradient(rgba(0,0,0,0.0625), rgba(255,255,255,0.03125), rgba(0,0,0,0.0625));
}

.cg-write-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 14rem;
    overflow: hidden;
}

.cg-tools-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cg-disappear {
    opacity: 1;
    -webkit-animation-name: cg-disappear-anim;
    -webkit-animation-duration: 0.5s;
    animation-name: cg-disappear-anim;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.cg-hidden {
    opacity: 0.0;
}

@-webkit-keyframes cg-disappear-anim {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes cg-disappear-anim {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

.cg-btn {
    width: 0ch;
    opacity: 0;
    -webkit-animation-name: cg-btn-anim;
    -webkit-animation-duration: 0.200s;
    animation-name: cg-btn-anim;
    animation-duration: 0.200s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.cg-write-btn,
.cg-tools-btn {
    width: 100%;
}

#cg-write-btn-payment-next,
#cg-write-btn-payment-back {
    max-width: 15rem;
}

.cg-captcha-btn {
    width: 7ch;
}

.cg-save-btn {
    width: 9ch;
}

.cg-captcha-img {
    width: 100%;
    max-width: 512px;
    height: auto;
    border-style: inset inset solid;
    border-color: rgba(212, 212, 212, 0.5);
    border-width: thin;
    background-color: rgba(224,224,224, 0.5);
    border-radius: 1rem;
}

@-webkit-keyframes cg-btn-anim {
    0%   {width: 0ch; opacity: 0;}
    100% {width: 12ch; opacity: 1;}
}
@keyframes cg-btn-anim {
    0%   {width: 0ch; opacity: 0;}
    100% {width: 12ch; opacity: 1;}
}

.cg-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0rem solid red;
    max-width: 0ch;
    -webkit-animation-name: cg-tabs-anim;
    -webkit-animation-duration: 1.5s;
    animation-name: cg-tabs-anim;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    font-size: 1rem;
}

@-webkit-keyframes cg-tabs-anim {
    0%   {max-width: 0ch;}
    100% {max-width: 65ch;}
}
@keyframes cg-tabs-anim {
    0%   {max-width: 0ch;}
    100% {max-width: 65ch;}
}

.cg-spacer-poofin {
    flex: 0 0 auto;
    -webkit-animation-name: cg-spacer-poofin-anim;
    -webkit-animation-duration: 1.0s;
    animation-name: cg-spacer-poofin-anim;
    animation-duration: 1.0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes cg-spacer-poofin-anim {
    0%   {flex: 0 0 auto;}
    100% {flex: 1 1 auto;}
}
@keyframes cg-spacer-poofin-anim {
    0%   {flex: 0 0 auto;}
    100% {flex: 1 1 auto;}
}

.cg-spacer-poofout {
    flex: 1 1 auto;
    -webkit-animation-name: cg-spacer-poofout-anim;
    -webkit-animation-duration: 1.0s;
    animation-name: cg-spacer-poofout-anim;
    animation-duration: 1.0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes cg-spacer-poofout-anim {
    0%   {flex: 1 1 auto;}
    100% {flex: 0 0 auto;}
}
@keyframes cg-spacer-poofout-anim {
    0%   {flex: 1 1 auto;}
    100% {flex: 0 0 auto;}
}

.cg-status-warning {
    color: red;
}

.cg-status {
    flex: 1 1 auto;
    opacity: 0;
    border: 0rem solid blue;
    overflow: hidden;
    text-align: left;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-animation-name: cg-appear-anim;
    -webkit-animation-duration: 1.0s;
    animation-name: cg-appear-anim;
    animation-duration: 1.0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-transition: color 250ms linear;
    -moz-transition: color 250ms linear;
    -o-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.cg-appear {
    opacity: 0;
    -webkit-animation-name: cg-appear-anim;
    -webkit-animation-duration: 0.5s;
    animation-name: cg-appear-anim;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes cg-appear-anim {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes cg-appear-anim {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.cg-poofin {
    -webkit-animation-name: cg-poofin-anim;
    -webkit-animation-duration: 0.2s;
    animation-name: cg-poofin-anim;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes cg-poofin-anim {
    0%   {-webkit-transform: scale(0.1); opacity: 0;}
    100% {-webkit-transform: scale(1.0); opacity: 1;}
}
@keyframes cg-poofin-anim {
    0%   {transform: scale(0.1); opacity: 0;}
    100% {transform: scale(1.0); opacity: 1;}
}

.cg-poofout {
    -webkit-animation-name: cg-poofout-anim;
    -webkit-animation-duration: 0.2s;
    animation-name: cg-poofout-anim;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes cg-poofout-anim {
    0%   {-webkit-transform: scale(1.0); opacity: 1;}
    100% {-webkit-transform: scale(0.1); opacity: 0;}
}
@keyframes cg-poofout-anim {
    0%   {transform: scale(1.0); opacity: 1;}
    100% {transform: scale(0.1); opacity: 0;}
}

.cg-about-tab p, .cg-help-tab p {
    display: block;
    max-width: 80ch;
    margin: 0 auto 1ch;
    text-align: left;
}

.cg-contact {
    display: block;
    max-width: 80ch;
    margin: 0 auto 1ch;

    border: medium outset rgba(255,255,255, 0.4);
    border-radius: 1.0ch;
    padding: 0.5ch;
    background-color: rgba(255,255,255, 0.5);
}

.cg-note {
    color: #154d10;
}

a.cg-link:hover {
    font-weight: bold;
}

.cg-table {
    margin: auto;
    padding-bottom: 1ch;
}
.cg-table td:nth-child(1) {
    text-align: right;
    padding-right: 1ch;
}
.cg-table td:nth-child(2) {
    text-align: left;
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 0ch rgba(0, 128, 255, 0);
    background-color:   rgba(0, 128, 255, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: box-shadow, background-color;
    transition-property: box-shadow, background-color;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 0.5ch rgba(0, 128, 255, 1);
    background-color:     rgba(0, 128, 255, 0.5);
}

.cg-msgbox {
    font-size: 1rem;
    display: inline-block;
    padding:  1ch;
    -ms-word-break: break-all;
    word-break: break-all;
    max-width: 100%;

    -webkit-transition: background-color 250ms ease;
    -moz-transition: background-color 250ms ease;
    -o-transition: background-color 250ms ease;
    transition: background-color 250ms ease;

    border-radius:0.75rem;
}

.cg-msgbox-wide {
    width: 100%;
}

.cg-msgbox-premature {
    position: absolute;
    left:0;
    visibility: hidden;
}

.cg-msgbox-selected {
    cursor: initial;
    background-color:rgba(0, 48, 255, 0.33);
}

.cg-msgbox-selected>.cg-msgbody{
    background-color:white;
}
.cg-msgbox-selected>.cg-msgheader {
    background-color:lightblue;
    background:linear-gradient(rgb(173, 216, 230),lightcyan calc(100% - 1px),silver calc(100% - 1px));
}
.cg-msgbox-selected>.cg-msgheader>.cg-msgheader-left>a {
    text-decoration:none;
}
.cg-msgbox-selected>.cg-msgfooter {
    background-color:lightblue;
    background:linear-gradient(silver 1px,lightcyan 1px,rgb(173, 216, 230));
}

.cg-msgbox-decoding>.cg-msgheader {
    background-color:rgba(255, 255, 0, 0.33);
}

.cg-msgbox-decoded>.cg-msgheader {
    background-color:rgba(0, 255, 0, 0.0);
}

.cg-msgbox-failed>.cg-msgheader {
    background-color:rgba(255, 0, 0, 0.33);
}

.cg-read-loadingbox {
    width: 100%;
    height: 0.5rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;

    /* Transition delay should be equal to CG_SCROLL_DELAY constant. */
    -webkit-transition: height 0.25s ease-out 0.75s;
    -moz-transition:    height 0.25s ease-out 0.75s;
    -ms-transition:     height 0.25s ease-out 0.75s;
    -o-transition:      height 0.25s ease-out 0.75s;
    transition:         height 0.25s ease-out 0.75s;
}

.cg-read-loadingbox-close {
    height: 0rem;
}

.cg-read-loadingbox-top    {}
.cg-read-loadingbox-bottom {}

.cg-read-loadingbar {
    border-radius: 0.75rem;
    background-color: rgba(0, 255, 0, 0.75);
    width: 0%;
    height: 100%;

    -webkit-transition: width 1s;
    transition: width 1s;
}

.cg-msgheader {
    height: 2ch;
    position: relative;
    border-width: thin thin 0.0rem;
    font-size: 0.9rem;
    border-radius:0.4rem;
    border-bottom-left-radius:0ch;
    border-bottom-right-radius:0ch;
    background: rgba(255, 255, 255, 0.64);
    background: -webkit-linear-gradient(rgba(255,255,255,0.80),rgba(255,255,255,0.64)0.2rem);
    background: -o-linear-gradient(rgba(255,255,255,0.80),rgba(255,255,255,0.64)0.2rem);
    background: -moz-linear-gradient(rgba(255,255,255,0.80),rgba(255,255,255,0.64)0.2rem);
    background: linear-gradient(rgba(255,255,255,0.80),rgba(255,255,255,0.64)0.2rem);
    border-color:gray;
    border-bottom-width:0;
    border-style: solid;
    padding: 0.25rem 0rem 0.25rem;
}

.cg-msgheader-left {
    text-align: left;
    width: calc(25% - 1ch);
    left: 1ch;
    white-space: nowrap;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cg-msgheader-right {
    text-align: right;
    width: calc(75% - 1ch);
    white-space: nowrap;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    left: 25%;
}

.cg-msgfooter {
    height: 2ch;
    position: relative;

    text-align: left;
    border-width: 0.0rem thin thin;
    background-color:rgba(255, 255, 255, 0.64);
    border-radius:0.4rem;
    border-top-left-radius:0ch;
    border-top-right-radius:0ch;
    font-size: 0.75rem;
    border-color:gray;
    border-style: solid;
    box-shadow: 0rem 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.85);
    padding: 0.25rem 0rem 0.25rem;
}

.cg-msgfooter-content {
    white-space: nowrap;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 1ch);
    padding-left: 1ch;
    color:rgb(150,200,255);
}
.cg-msgfooter-content:hover {
    color:rgba(0,0,255,0.5);
}
.cg-msgfooter-content>a {
    text-decoration:none;
    color:rgba(0,0,255,0.25);
}
.cg-msgfooter-content>a:hover {
    text-decoration:none;
    color:rgb(100,100,255);
}

.cg-msgbody {
    text-align: left;
    overflow: auto;
    background-color:rgba(255, 255, 255, 0.64);
    border-bottom: none;
    border-top: none;
    border-radius: 0ch;
    padding: 0.5ch;
    max-height: 50.0vh;
    border-left:thin solid gray;
    border-right:thin solid gray;
}

.cg-msgspan {
    min-width: 28ch;
    display: inline-block;
}

.cg-msgbody-tiny {
    font-size: 0.75rem;
}

.cg-msgbody-overflowed {

}

.cg-msgbody-clickable {
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.cg-msgbody-clickable:hover {
    cursor: pointer;
}

.cg-msgbody-decoding {
    background-color: rgba(255,255,255, 0.5);
}

.cg-msgbody-rtl {
    text-align: right;
    direction: rtl;
}

.cg-save-order-table {
    display: inline-block;
    text-align: left;
}

.cg-save-order-table tr:nth-child(5) td:last-child {
    text-align: right;
}

.cg-captcha-table {
    display: inline-block;
    width: 100%;
    max-width: 512px;
}

.cg-captcha-table td:nth-child(1),
.cg-captcha-table td:nth-child(3) {
    white-space: nowrap;
}

.cg-captcha-table td:nth-child(2) {
    width: 99%;
}

.cg-save-order-input {
    /*max-width: 40ch;*/
    width: 100%;
}

#cg-save-order-details {
    min-height: 192px;
}

.cg-captcha-answer-input {
    width: 100%;
    min-width: 4ch;
}

.cg-footer-languages {
    white-space: nowrap;
}
.hvr-glow>img {
    border: thin outset white;
    border-radius: 20%;
}

.ansi-fg-0 { /* default font color */ }
.ansi-fg-1 { color: red }
.ansi-fg-2 { color: green }
.ansi-fg-3 { color: yellow }
.ansi-fg-4 { color: blue }
.ansi-fg-5 { color: magenta }
.ansi-fg-6 { color: cyan }
.ansi-fg-7 { color: white }

.ansi-bg-0 { background-color: black }
.ansi-bg-1 { background-color: red }
.ansi-bg-2 { background-color: green }
.ansi-bg-3 { background-color: yellow }
.ansi-bg-4 { background-color: blue }
.ansi-bg-5 { background-color: magenta }
.ansi-bg-6 { background-color: cyan }
.ansi-bg-7 { /* default background color */ }

.ansi-format-1 { font-weight: bold }
.ansi-format-3 { font-style: italic }
.ansi-format-4 { text-decoration: underline }
.ansi-format-9 { text-decoration: line-through }
